# Virtual Environment
vhumic/
venv/
env/
__pycache__/
*.pyc

# Datasets & Outputs
Dataset/
output/
output_api/
gambar/
gambar_api/

# Large Model Files
# Large Model Files
# Large Model Files
modelDL/
model DL/
*.pth
*.keras
*.h5
*.joblib
*.onnx
model2/
model2*
DATASET_GRADCAM_OUTPUT/
fusion_results/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
